
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
font-family: inter;
background-color: grey;
}
 .container{
max-width: 1230px;
margin: 0 auto;
padding: 0px 15px;
background-color: #fff;
}


/*ЛОГОТИП ШАПКА СТРАНИЦЫ*/

.logo_wrapper {
width: 1200px;
height: 100px;
}
.logo_container {
	height:50px;
	display: flex;
	justify-content: space-between;
padding-top: 10px;
}
.logo {
	width: 139px;
	height: 32px;
}
.logo_img{
	width: 139px;
	height: 50px;
	padding-top:10px ;
}
.logo_body {
	display: flex;
margin-left: 20px;
}
.logo_panel {
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
}
.logo_ul{
	padding-top:15px ;
}
.logo_li{
display: inline;

}
.logo_a{
margin-right: 50px;
text-align: center;
color: #000;

}
.logo_button {
}
.logo_button_1 {
	height: 50px;
width: 95px;
border-radius: 10px;
background: #fff;
color: #000;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: center;
border: 1px solid;

}
.logo_button_2 {
	height: 50px;
width: 103px;
border-radius: 10px;
background: #000;
color: #fff;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: center;
}

/*фИГИРЫ И ПРОГРАММА*/

.figures_wrapper {
}
.figures_container {
	display: flex;
	width: 1200px;
}
.figures {
	width: 544px;
	height: 750px;
}
.figures_content {
	width: 656px;
	height: 750px;
}

.figures_top{
width: 320px;
display: flex;
gap: 10px;
position: relative;
left: 50px;
top: 140px;

}
.figures_title {

	width: 524px;
	height: 256px;
	font-family: Inter;
font-size: 64px;
font-weight: 400;
line-height: 64px;
letter-spacing: 3.2px;
text-align: left;

}
.figures_text {
	width: 444px;
	height: 60px;
	font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
.figures_button {
	height: 36px;
width: 192px;
border-radius: 10px;
background: #000;
color: #fff;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: center;
margin-top: 15px;
position: relative;
right: 155px;
}

.oval {
height: 600px;
width: 504px;
border-top-left-radius:400px;
background: #7DF1E8;
float: right;

}

.figure_1 {
	height: 240px;
width: 155px;
border-top-right-radius:9999px;
border-bottom-right-radius:9999px;
background:#F1F5F9;
float: left;
position: relative;
top: 175px;
}

.figure_2 {
height: 100px;
width: 160px;
border-top-left-radius: 9999px;
border-top-right-radius: 9999px;
background: #FFE3FB;
}
.figure_3 {
height: 100px;
width: 149px;
border-bottom-left-radius:9999px ;
border-bottom-right-radius:9999px ;
border-top-right-radius: 9999px;
background: #15837B;

}
.figure_4 {
height: 100px;
width: 454px;
border-bottom-left-radius: 9999px;
background:#FFDD58;
position: relative;
left: 202px;
top: 163px;


}
.figure_5 {
height: 100px;
width: 544px;
margin-top: 30px;
border-top-right-radius: 9999px;
border-bottom-right-radius:9999px;
background:#FFDD58;
float: right;
}

/*ДВЕ ПРОГРАММЫ*/



.programs_wrapper {
		margin-top: 50px;
}
.programs_conteiner {
	display: flex;
	width: 1200px;
	justify-content: space-between;
}
.programs_content_1 {
	height: 513px;
width: 524px;
border-bottom-right-radius: 120px;
border: 0.5px solid #E4E4E7 ;
	display: flex;
justify-content:center;
align-items:center;
}
.programs_block_1{
width: 313px;
height: 265px;
}
.programs_title {
height: 45px;
width: 226px;
font-family: Inter;
font-size: 23px;
font-weight: 500;
line-height: 45px;
letter-spacing: 1.5px;
text-align: left;

}
.programs_text {
height: 120px;
width: 313px;
font-family: Inter;
font-size: 19px;
font-weight: 300;
line-height: 30px;
text-align: left;
margin-top: 20px;

}
.programs_button {
height: 60px;
width: 207px;
left: 157px;
top: 1410px;
border-radius: 10px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: center;
background: #000;
color: #fff;
margin-top: 20px;

}



.programs_content_2 {
	display: flex;
justify-content:center;
align-items:center;
		height: 513px;
width: 524px;
border-top-right-radius: 120px;
border: 0.5px solid #E4E4E7;
}
.programs_block_2{
width: 313px;
height: 265px;

}
.programs_title_2 {
	height: 45px;
width: 229px;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 45px;
letter-spacing: 1.5px;
text-align: left;
padding-top: 10px;

}
.programs_text_2 {
	height: 120px;
width: 289px;
font-family: Inter;
font-size: 19px;
font-weight: 300;
line-height: 30px;
text-align: left;
margin-top: 20px;
}
.programs_button_2 {
	height: 60px;
width: 207px;
left: 157px;
top: 1410px;
border-radius: 10px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: center;
background: #000;
color: #fff;
margin-top: 20px;
}


/*ПАРТНЕР*/

.partners_wrapper {
height: 500px;
}
.partners_container {
	width:1200px;
	margin-top: 250px;
}
.partners_content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.partners_img {

}
.partners_foto {
		height: 300px;
width: 254px;
border-top-right-radius: 72px;
border-bottom-left-radius:72px;
}
.partners_text {
	width: 760px;
}
.partners_text_1 {
	height: 180px;
width: 761px;
font-family: Inter;
font-size: 30px;
font-weight: 400;
line-height: 45px;
text-align: left;

}
.partners_a {
	height: 45px;
width: 151px;
font-family: Inter;
font-size: 29px;
font-weight: 400;
line-height: 45px;
text-align: left;
color: #000;
border-bottom: 0.5px solid #71717A;

}
.partners_text_2 {
	height: 36px;
width: 71px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 36px;
letter-spacing: 1.2px;
text-align: left;

}
.partners_text_3 {
	height: 27px;
width: 300px;
font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 27px;
text-align: left;

}

/*ЛКОНТРОЛЬ ПРОГРАММ ОПИСАНИЕ*/

.mission_wrapper {
height: 800px;
}
.mission_container {
	width: 1200px;
}
.mission_body {
	height: 720px;
	display: flex;
	flex-wrap: wrap;
		justify-content: space-between;
}
.mission_block_1 {
width: 500px;
}
.mission_text_1 {
	height: 96px;
width: 475px;
font-family: Inter;
font-size: 48px;
font-weight: 400;
line-height: 48px;
letter-spacing: 2.4px;
text-align: left;

}
.mission_button {
	height: 36px;
width: 288px;
border-radius: 10px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: center;
border: 0.5px solid #D4D4D8;
margin-top: 15px;
}
.mission_block_2 {
	display: flex;
	flex-wrap: wrap;
width: 500px;

}
.mission_text_2 {
	width: 500px;
	display: flex;
	flex-wrap: wrap;
justify-content: space-between;
border-bottom: 1px solid grey;
height: 180px;

}
.tmc_2_1 {
	height: 720px;
width: 195px;
font-family: Inter;
font-size: 19px;
font-weight: 400;
line-height: 36px;
letter-spacing: 1.2px;
text-align: left;

}
.tmc_2_2 {
	height: 132px;
width: 222px;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;

}
.mission_text_3 {
		width: 500px;
		height: 180px;
	display: flex;
	flex-wrap: wrap;
		justify-content: space-between;
border-bottom: 0.5px solid #71717A;
margin-top: 20px;
}
.tmc_3_1 {
	height: 72px;
width: 186px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 36px;
letter-spacing: 1.2px;
text-align: left;

}
.tmc_3_2 {
	height: 162px;
width: 223px;
font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 27px;
text-align: left;

}
.mission_text_4 {
		width: 500px;
		height: 180px;
	display: flex;
	flex-wrap: wrap;
		justify-content: space-between;
		border-bottom: 0.5px solid #71717A;
		margin-top: 20px;

}
.tmc_4_1 {
	height: 72px;
width: 147px;
font-family: Inter;
font-size: 23px;
font-weight: 400;
line-height: 36px;
letter-spacing: 1.2px;
text-align: left;

}
.tmc_4_2 {
	height: 135px;
width: 225px;
font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 27px;
text-align: left;

}
.mission_text_5 {
		width: 500px;
		height: 180px;
	display: flex;
	flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 20px;
}
.tmc_5_1 {
	height: 36px;
width: 137px;
font-family: Inter;
font-size: 19px;
font-weight: 400;
line-height: 36px;
letter-spacing: 1.2px;
text-align: left;

}
.tmc_5_2 {
	height: 81px;
width: 225px;
font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 27px;
text-align: left;
}


/*ПАКЕТЫ*/

.pricing_wrapper {
height: 300px;
}
.pricing_container {
	width: 1200px;
	margin-top: 150px;
}
.pricing_body {
display: flex;
flex-direction:column;
align-items: center;
height: 130px;
}
.pricing_text {
	height: 48px;
width: 140px;
font-family: Inter;
font-size: 38px;
font-weight: 400;
line-height: 48px;
letter-spacing: 2.4px;
text-align: center;


}
.pricing_text_1 {
	margin-top: 20px;
height: 60px;
width: 765px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: center;
}






.packages_wrapper {
	margin-top: 50px;
	height: 800px;
}
.packages_container {
	display: flex;
	justify-content:center;
width: 1200px;
}
.packages_starter {
height: 731px;
width: 400px;
border-top-left-radius: 80px;
border-bottom-right-radius: 80px;
padding: 2px;
}
.starter_body{
	width: 300px;
	height: 486px;
	margin: 0 auto;
	position: relative;
	top: 100px;

}

.starter_name {
font-size: 19px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: grey;
}
.starter_cost {
height: 72px;
width: 120px;
font-family: Inter;
font-size: 48px;
font-weight: 400;
line-height: 72px;
text-align:left;

}
.starter_mo {
height: 72px;
width: 35px;
font-family: Inter;
font-size: 19px;
font-weight: 400;
line-height: 30px;
color:grey;
}
.starter_trial {
	height: 60px;
width: 288px;
margin-top: 20px;
}
.starter_button {
	height: 60px;
width: 288px;
border-radius: 10px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: center;
border: 0.5px solid #D4D4D8;
}
.starter_programs {
height: 24px;
width: 150px;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 40px;
border-bottom: 0.5px solid #E4E4E7 ;
}
.img_77 {
	margin-right: 3px;
height: 20px;
width: 20px;
}
.starter_team {
}
.starter_people {

height: 24px;
width: 117px;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 20px;

}
.img_88 {

height: 20px;
width: 20px;
}
.starter_features {
	height: 21px;
width: 79px;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
margin-top: 20px;

}
.starter_features_1 {

height: 48px;
width: 167px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 20px;
border-bottom: 0.5px solid #E4E4E7 ;
}
.img_99 {
margin-top: 2px;
height: 20px;
width: 20px;
}
.starter_features_2 {
height: 24px;
width: 208px;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 20px;
border-bottom: 0.5px solid #E4E4E7 ;
}
.starter_features_3 {
height: 24px;
width: 212px;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 20px;
}

.packages_starter:hover {
height: 731px;
width: 400px;
border-top-left-radius: 80px;
border-bottom-right-radius: 80px;
background-color: #F1F5F9;
border: 1px solid blue;
transition: 0.2s;
padding: 1px;

}

.starter_button:hover {
height: 60px;
width: 288px;
border-radius: 10px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: center;
background-color: #000;
color: #fff;
transition: 0.2s;
border: 0.5px solid #D4D4D8;
}


.packages_partner {
height: 731px;
width: 400px;
border-top-left-radius: 80px;
border-bottom-right-radius: 80px;
padding: 2px;
}
.packages_partner:hover {
height: 731px;
width: 400px;
border-top-left-radius: 80px;
border-bottom-right-radius: 80px;
background-color: #F1F5F9;
border: 1px solid blue;
transition: 0.2s;
padding: 1px;
}
.packages_body{
	width: 300px;
	height: 486px;
	margin: 0 auto;
	position: relative;
	top: 100px;
}
.partner_name {
	font-size: 19px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: grey;
}
.partner_cost {

	height: 72px;
width: 138px;
font-family: Inter;
font-size: 48px;
font-weight: 400;
line-height: 72px;
text-align: left;

}
.partner_mo {
height: 72px;
width: 35px;
font-family: Inter;
font-size: 19px;
font-weight: 400;
line-height: 30px;
color:grey;
}
.partner_trial {
		height: 60px;
width: 288px;
margin-top: 20px;
}
.partner_button {
height: 60px;
width: 288px;
border-radius: 10px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: center;
border: 0.5px solid #D4D4D8;


}
.partner_button:hover {
height: 60px;
width: 288px;
border-radius: 10px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: center;
border: 0.5px solid #D4D4D8;
background-color: #000;
color: #fff;

transition: 0.2s;

}
.partner_programs {
	height: 24px;
width: 220px;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 40px;
border-bottom: 0.5px solid #E4E4E7 ;
}
.partner_team {

}
.partner_people {
	height: 24px;
width: 220px;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 20px;
}
.partner_features {
		height: 21px;
width: 150px;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
margin-top: 20px;
}
.partner_features_1 {
	height: 24px;
width: 154px;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 20px;
border-bottom: 0.5px solid #E4E4E7 ;
}
.partner_features_2 {
	height: 24px;
width: 218px;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 20px;
border-bottom: 0.5px solid #E4E4E7 ;
}
.partner_features_3 {
	height: 24px;
width: 163px;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 20px;
}


.packages_advanced {
	height: 731px;
width: 400px;
border-top-left-radius: 80px;
border-bottom-right-radius: 80px;
padding: 2px;
}
.packages_advanced:hover {
	height: 731px;
width: 400px;
border-top-left-radius: 80px;
border-bottom-right-radius: 80px;
background-color: #F1F5F9;
border: 1px solid blue;
transition: 0.2s;
padding: 1px;
}

.advanced_body{
	width: 300px;
	height: 486px;
	margin: 0 auto;
	position: relative;
	top: 100px;
}
.advanced_name {
		font-size: 19px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: grey;
}
.advanced_cost {
height: 72px;
width: 138px;
font-family: Inter;
font-size: 48px;
font-weight: 400;
line-height: 72px;
text-align: left;
}
.advanced_mo {
height: 30px;
width: 35px;
font-family: Inter;
font-size: 19px;
font-weight: 400;
line-height: 30px;
color:grey;

}
.advanced_trial {
	height: 60px;
width: 288px;
margin-top: 20px;

}
.advanced_button {
height: 60px;
width: 288px;
border-radius: 10px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: center;
border: 0.5px solid #D4D4D8;

}
.advanced_button:hover {
height: 60px;
width: 288px;
border-radius: 10px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: center;
border: 0.5px solid #D4D4D8;
background-color: #000;
color: #fff;
}
.advanced_programs {
	height: 24px;
width: 120px;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 40px;
border-bottom: 0.5px solid #E4E4E7 ;

}
.advanced_team {
}
.advanced_people {
		height: 24px;
width: 220px;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 20px;
}
.advanced_features {
height: 21px;
width: 150px;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
margin-top: 20px;

}
.advanced_features_1 {
	height: 24px;
width: 165px;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 20px;
border-bottom: 0.5px solid #E4E4E7 ;
}
.advanced_features_2 {
	height: 24px;
width: 199px;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top: 20px;
}


/*ПЛАН ПОКУПКА*/


.plan {
width: 1200px;
height: 150px;
}
.plan_body{
	width: 280px;
	height: 50px;

}
.plan_a {

width: 1200px;
height: 50px;
font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: center;
}

.a_a {
color: #000;
}


.plan_img {
width: 20px;
height: 20px;
margin: 5px;

}

/*ОФОРМЛЕНИЕ БЕСПЛАННОГО ПАКЕТА*/

.start_day {
margin-top: 50px;
	display:flex;
justify-content:center;
align-items:center;
}

.start_container {
	height: 292px;
width: 1200px;
border-top-left-radius: 140px;
border-bottom-right-radius: 140px;
background:#FFE3FB;
}
.start_body{
position: relative;
top: 100px;
width: 665px;
height: 120px;
margin: 0 auto;
text-align: center;
}
.start_text {
	height: 48px;
width: 665px;
font-family: Inter;
font-size: 37px;
font-weight: 400;
line-height: 48px;
letter-spacing: 2.4px;
text-align: center;


}
.start_button {
height: 60px;
width: 146px;
border-radius: 10px;
background: #000;
font-family: Inter;
color: #fff;
text-align: center;
margin-top: 12px;
}


/*ИНФОРМАЦИЯ*/



.informs_wrapper {
margin-top: 150px;
}
.informs_conteiner {
	width: 1200px;
	height: 250px;

}
.informs_body {
	width: 1200px;
display: flex;
	justify-content: space-between;
}
.partnero {
	height: 250px;
	width: 500px;
}
.partnero_foto{

}
.partnero_img {
	width: 139px;
	height: 42px;
}

.partnero_text {

	height: 27px;
width: 429px;
font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 27px;
text-align: left;


}
.partnero_search {
margin-top: 10px;
display: flex;
justify-content: space-between;

}
.seeker {
height: 54px;
width: 323px;
border-radius: 10px;
border: 1px solid #021412;
display: flex;
justify-content: space-between;


}
.search {
	width: 100%;
	height: 51px;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
border-radius: 10px;


}
.submit {
	height: 53px;
width: 122px;
border-radius: 10px;
background-color: #000;
color: #fff;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: center;
position: relative;
left: 100px;
}


.informs_updates {
	height: 18px;
width: 357px;
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;
color: grey;


}
.informs_privacy {
	height: 18px;
width: 86px;
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;
color: grey;


}
.partnero_icons {
	width: 50px;
	height: 50px;
}
.a_img {
	margin-top: 10px;
	width: 20px;
	height: 20px;

}
.informs_packages {
	display: flex;
}
.Product {
width: 150px;
	display: grid;
	height: 200px;
}
.product_name {
	height: 18px;
width: 62px;
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;
}


.product_a_1 {
	height: 24px;
width: 150px;
	font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000;
}
.product_a_2 {
	height: 24px;
width: 150px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000;
}
.product_a_3 {
	height: 24px;
width: 150px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000;
}
.product_a_4 {
	height: 24px;
width: 150px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000;
}
.product_a_5 {
	height: 24px;
width: 150px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000;
}


.Company {
width: 150px;
height: 200px;
	display: grid;
}
.company_name {
height: 18px;
width: 150px;
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;
color: #000;
}
.company_a_1 {
	height: 24px;
width: 150px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000;
}
.company_a_2 {
	height: 24px;
width: 150px;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000;
}
.company_a_3 {
height: 24px;
width: 150px;
	font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000;
}
.company_a_4 {

	height: 24px;
width: 150px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000;
}


.Resources {
width: 150px;
height: 200px;
	display: grid;
}
.resources_name {
height: 18px;
width: 74px;
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;
}
.resources_a_1 {
	height: 24px;
width: 150px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000;
}
.resources_a_2 {
	height: 24px;
width: 150px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000;
}
.resources_a_3 {
	height: 24px;
width: 150px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000;
}

/*ПОДВАЛ СТРАНИЦЫ*/


.footer {
	margin-top: 50px;
}
.footer_container {
	width: 1200px;
}
.footer_body {
		width: 1200px;
display: flex;
	justify-content: space-between;
}
.footer_rights {
}
.footer_company {
	height: 50px;
}
.footer_img {
	margin: -5px 15px 0px 0px;
	height: 24px;
width: 24px;


}
.footer_text {
	height: 18px;
width: 262px;
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.6px;
text-align: center;


}



@media  (max-width:1230px){
 .container{
max-width: 922px;
margin: 0 auto;
padding: 0px 15px;
}
.logo_wrapper {
max-width: 892px;
height: 100px;
margin: 0;
padding: 0;
}
.logo_container {
	max-width: 922px;
	height:50px;

}

.figures_container {

max-width: 922px;
}
.programs_conteiner {

margin: 0 auto;
max-width: 922px;
display: inline;

}
.programs_content_1 {
	height: 513px;
width: 524px;
border-bottom-right-radius: 120px;
border: 0.5px solid #E4E4E7 ;
margin: 0 auto;
}
.programs_content_2 {

		height: 513px;
width: 524px;
border-top-right-radius: 120px;
border: 0.5px solid #E4E4E7;
margin: 0 auto;
}
.figures_content {
	display: block;
	width: 656px;
	height: 350px;
	margin-left: 20%;
}

.figures_top{
display: none;

}
.figures_title {

	width: 524px;
	height: 256px;
	font-family: Inter;
font-size: 64px;
font-weight: 400;
line-height: 64px;
letter-spacing: 3.2px;
text-align: center;

}
.figures_text {
	width: 524px;
	height: 60px;
	font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: center;

}
.figures_button {
	height: 36px;
width: 192px;
border-radius: 10px;
background: #000;
color: #fff;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: center;
margin-top: 15px;
margin-left: 50%;
}
.figure_4{
	display: none;
}
.figures{
	display: none;
}
.figure_1 {
display: none;
}
.partners_container {
	width:892px;
	margin-top: 250px;
}
.mission_button {
	height: 36px;
width: 288px;
border-radius: 10px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: center;
border: 0.5px solid #D4D4D8;
margin-left: 70px;
margin-top: 20px;
}

.partners_img {

}
.partners_text{
	margin: 0 auto;
}
.partners_foto {
display: none;
}

.mission_container {
	width: 892px;
}
.mission_body {
	margin: 0 auto;
	width: 880px;
}
.mission_block_1 {
		margin: 0 auto;
		height: 300px;
		width: 450px;
}

.mission_block_2 {
	display: flex;
	flex-wrap: wrap;
	height: 400px;
	width: 880px;
	margin: 0 auto;
}

.mission_text_2 {
	width: 420px;

		border-bottom: none;
	margin-right: 5px;
}
.tmc_2_1 {
}
.tmc_2_2 {
}
.mission_text_3 {
	width: 420px;
	padding: 0;
	margin: 0;
	margin-left: 5px;

		border-bottom: none;
}
.tmc_3_1 {
}
.tmc_3_2 {
}
.mission_text_4 {
	width: 420px;

		border-bottom: none;
			margin-right: 5px;
}

.tmc_4_1 {
}
.tmc_4_2 {
}
.mission_text_5 {
	width: 420px;
		margin-left: 5px;
}
.tmc_5_1 {
}
.tmc_5_2 {
}

.pricing_container {
	width: 892px;
}
.pricing_body {
		width: 892px;
		margin: 0 auto;
}
.packages_wrapper {
	width: 892px;
}
.packages_container {
		width: 892px;
		margin: 0 auto;
}
.packages_starter {
	width: 297px;
}

.packages_partner {
		width: 297px
}

.packages_advanced {
		width: 297px
}
.plan {
			width: 892px;
}
.plan_body {
			width: 892px;
		margin: 0 auto;
}
.plan_a{
				width: 892px;
		margin: 0 auto;
}

.informs_wrapper {
				width: 892px;

}
.informs_conteiner {
				width: 892px;
		margin: 0 auto;
}
.informs_body {
				width: 892px;
		margin: 0 auto;
}
.footer {
width: 892px;
}
.footer_container {
width: 892px;

}
.footer_body {
width: 892px;
margin: 0 auto;
}
}





